.ratingBox {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 10px;
  gap: 20px;
  font-size: 20px;
}

.checked {
  color: orange;
}
